html {
    font-family: 'Gill Sans', sans-serif;
}

h1 { text-align: center; }

#container {
    font-size: 36px;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 2px 10px;
    color: rgba(64, 64, 128, 1);
    background: rgba(64, 0, 255, 0.25);
}

#container > div {
    text-align: center;
    width: 100%;
}

#configuration {
    padding: 0;
}

#period, #left, #today {
    padding: 20px 0;
}


#gear {
    text-align: right;
    width: 100%;
}

#gear img {
    width: 14px;
    height: 14px;
}

#configuration table {
    font-size: 16px;
    border: 1px solid grey;
    padding: 2px;
    margin: 5px auto;
    display: none;
    width: 95%;
}
